$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$bg: #edf2f0;
$neu-1: #ecf0f3;
$neu-2: #d1d9e6;
$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;
$purple: #4b70e2;
$red: #f00;
$darkRed: #801515;
$correct: #29b5a8;
$accent: #ff702e;
$transition: 1.25s;
$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
